<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |a| %>
	<li>
		<%= link_to a.title, article_path(a), class: 'article_title', id: "article_#{a.id}" %>
	</li>
	<% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>