h1 {
	padding: 1%;
	font-size: 26px;
}

a {
	padding: 1%;
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

#combo {
	padding: 2%;
}

.new_article {
	text-decoration: none;
	color: #000;
	padding: 1%;
}

p {
	padding: 1%;
}

.flash {
	padding: 1%;
	color: #fff;
}

input[type="submit"] {
	padding: 1%;
	text-decoration: none;
	color: #000;
	padding: 1%;
}

a:hover {
	color: #fff;
}

body {
	background: rgba(0,0,0,0.2);
}

html {
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

